{% extends "base.html" %}

{% block pageheading %}
<div style="color: #e3e3e3">
Create A Session
</div>
{% endblock %}

{% block main %}
<body>
<form class="myform" style="color: #e3e3e3" method="post">
    <div class="form-group" action="/create_sessions">
    <span>
    <div class="form-label"> Location: </div>
    </span>
    <div class="form-element">
      <input list="classrooms" name="location">
      <datalist id="classrooms">
        <option value="M4">
        <option value="P4">
        <option value="204">
        <option value="L4">
        <option value="LC5">
        <option value="104">
        <option value="101">
        <option value="S3">
        <option value="T5">
      </datalist>
    </div>
    </div>
    </span>
    <div class="form-group">
        <div class="form-label"> Date </div>
        <div class="form-element"> <input type="date" name="date" value="Date"></div>
    </div>
    <div class="form-group">
        <div class="form-label"> Start Time </div>
        <div class="form-element"> <input type="time" name="start_time" value="Start Time"></div>
    </div>
    <div class="form-group">
        <div class="form-label"> End Time </div>
        <div class="form-element"> <input type="time" name="end_time" value="End Time"></div>
    </div>
    <div class="form-group">
        <div class="form-label"> Submit </div>
        <div class="form-element"> <input type="submit" name="submit_button" value="Submit"></div>
    </div>
    <br>
    <br>
    <br>
    <br>
</form>
</body>

{% endblock %}


