{% extends 'base.html' %}

{% block pageheading %}
<div style="color: #e3e3e3">
Your Sessions
</div>
{% endblock %}

{% block main %}
<a href="/create_sessions" class="button-link">Click to create a session</a>
<div style="padding-bottom: 20px"></div>
        {% if list_of_sessions %}
            <table>
            <tr style="color: #e3e3e3">
                <td>Location</td>
                <td>Date</td>
                <td>Title</td>
                <td>Description</td>
                <td>Start Time</td>
                <td>End Time</td>
                <td>Delete</td>
            </tr>
            {% for session in list_of_sessions %}
            <tr style="color: #e3e3e3">
                <td>{{ session[0] }}</td>
                <td>{{ session[1] }}</td>
                <td>{{ session[2] }} </td>
                <td>{{ session[3] }}</td>
                <td>{{ session[4] }}</td>
                <td>{{ session[5] }}</td>
                <td>
                    <form class="myform" action="/my_sessions" method="post">
                        <input type="hidden" name="session_id" value="{{ session[6] }}">
                        <input class="button-link" type="submit" name="delete" value="Delete">
                    </form>
                </td>
            </tr>
            {% endfor %}
            </table>
        {% else %}
            <p style="color: #e3e3e3">No sessions found.</p>
        {% endif %}
{% endblock %}
